<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        {{css}}
    </style>
    <title>iBioCAD</title>
</head>
<body>
    <div class="ui raised segment container" style="top:10%;width:50%;word-wrap:break-word">
        <h1> There's been an error! Please try again or contact the developer!
            </h1>
        <br><br><br>
        <form method="POST">
            <button type="submit" class="ui blue button" name="back" value="back">Return to main page</button>
        </form>
    </div>
</body>
</html>